.home-body
    display: flex
.sub-heading
    margin: 0px
    font-size: large
    font-weight: bold
    padding:25px 0px 0px 25px

.contacts-container
    margin: 18px 0px 0px 25px
    width: 350px
    font-family: 'Lato', sans-serif

.contact-card
    padding-bottom:6px 
    border: solid #CCCCCC
    border-width: 1.5px

.contact-card-title
    font-size:22px
    font-weight:300
    padding-bottom:6px

.contact-card-data
    padding:7px 0px 8px 20px
    margin: 0px
    font-size: 17px
    font-weight: 500

.pointer
    cursor: pointer
.selected
    background-color: #cee7f2

.details-container
    padding-left:120px
    margin-top: 3px 

.container-title
    font-size: 30px
    font-weight: 600
    padding-bottom: 15px

.container-body
    font-size: 19px
    font-weight:500

.data-padding
    padding-bottom: 15px

.new-line
    padding-left: 70px

.control-container
    position: fixed
    padding-left: 980px
    margin-top: 15px

.controls
    text-decoration: none
    font-size: 20px
    font-weight: 500
    color: black
    cursor: pointer

.control-icon
    padding: 90px 15px 0px 4px
    text-decoration: none

.contacts-not-found
    color: red
    font-weight: bolder
    font-size: x-large
    padding: 25px 0px 0px 25px